<div class="card" style="width: 34rem;">
  <div class="card-body">

    <h6>Novo Produto</h6>
    <input type="text" (input)=" valor1 = $event.target.value"><span>Nome</span>
    <input type="number" (input)=" valor2 = $event.target.value"><span>Custo</span>
    <button (click)="onClick()">Salvar</button>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Custo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registro of registros | async">
          <td>Nome:{{registro.valor1}}</td>
          <td>Custo:{{registro.valor2}}</td>
          <td>Codigo:{{registro.key}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">

    <h4>Sacola</h4>
    <input type="text" (input)=" codigo = $event.target.value"><span>Codigo</span>
    <button (click)="onAdd(codigo)">Adicionar</button>
    
    <h6>Total: </h6>
    <h6>Numero de Items: {{total}} </h6>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Custo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registro2 of registros2 | async">
          <td>Nome:{{registro2.valor1}}</td>
          <td>Custo:{{registro2.valor2}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>