
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Tenta vc ai</h1>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Valor 1</span>
        </div>
        <input type="text" (input)=" valor1 = $event.target.value" class="form-control" aria-label="Exemplo do tamanho do input" aria-describedby="inputGroup-sizing-sm">
      </div>
      
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Valor 2</span>
        </div>
        <input type="text" (input)=" valor2 = $event.target.value" class="form-control" aria-label="Exemplo do tamanho do input" aria-describedby="inputGroup-sizing-sm">
      </div>
      <button type="button" (click)="onClick()" class="btn btn-primary" >Salvar</button>   

    </div>
  </div>


  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Valor 1</th>
        <th scope="col">Valor 2</th>
      </tr>
    </thead>
    <tbody>

        <tr *ngFor="let registro of registros | async">
        <td>Valor1 = {{registro.valor1}}</td>
        <td>Valor2 = {{registro.valor2}}</td>
        </tr>
      
    </tbody>
  </table>