<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="displa-2">DOM</h2>
    
        <hr class="my-4">

        <p>Por : Pedro Bugs , Rafael Ignacio , Murilo Jose ,Daniel , Thiago</p>
    </div>
</div>


<div class="row ml-auto mt-3 ml-3">
    <div class="col-xs-12 col-sm-12 col-md-4">
        <a href="" routerLink="/dom/getid" routerLinkActive="active">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://image.freepik.com/vetores-gratis/computador-com-dados-de-software-de-programacao-de-codigo_24640-23511.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">GetElementByID</h3>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 mt-3">
        <a href="" routerLink="/dom/gettag" routerLinkActive="active">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://roocket.ir/public/images/2019/1/6/programmer.png" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">GetElementsByTagName</h3>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 mt-3">
        <a href="" routerLink="/dom/getclass" routerLinkActive="active">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.discordapp.com/attachments/730404292380327966/738386934090432582/12334613-971.png" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">GetElementsByClassName</h3>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 mt-3">
        <a href="" routerLink="/dom/query" routerLinkActive="active">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://media.discordapp.net/attachments/730404292380327966/738387073660092476/0ngXgBNNdx6iiWP8q.png" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">querySelector</h3>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 mt-3">
        <a href="" routerLink="/dom/element" routerLinkActive="active">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://media.discordapp.net/attachments/730404292380327966/738387207240417350/illustration_cover.png?width=962&height=541" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">createElement</h3>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 mt-3">
        <a href="" routerLink="/dom/append" routerLinkActive="active"> 
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://media.discordapp.net/attachments/730404292380327966/738387384353161236/IMG_1463.png?width=962&height=563" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">appendChild</h3>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row mx-auto mt-3">
    <div class="col-xs-12 col-sm-12 col-md-4 mx-auto">
        <a href="" routerLink="questoes" routerLinkActive="active">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www.weblink.com.br/blog/wp-content/uploads/2017/06/busca-org%C3%A2nica.png" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">Hora de Praticar</h3>
                </div>
            </div>
        </a>
    </div>
</div>



<canvas width="500" height="500"></canvas>