body {
    background: #1e1f26;
  }
  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }
  .container {
    padding: 2px;
    margin: 20px auto;
    width: 75%;
    background: rgba(77,80,83,0.2);
    border: 1px solid rgba(0,0,0,0.05);
    display: flex;
  }
  pre {
    padding: 8px;
    margin: 5px 4px;
    background: #282A36;
    color: #d5d9df;
    border: 1px solid rgba(0,0,0,0.3);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basic: auto;
  }
  pre .num {
    color: #fc9463;
  }
  pre .var {
    color: #72e0d1;
}


.rosa {
    color: #FF79C6;
  }
  

.verde {
    color: #32D965;
  }
