
<div class="jumbotron jumbotron-fluid bg-dark">

  <div class="container"  style="color: white;">
    
    <header class="mb-4">
        <h2>Cálculo de IMC</h2>
    </header>

    <form>
    
      <div class="input-group mb-3">
        <input type="number" (input)=" altura = $event.target.value" class="form-control"  placeholder="Altura" aria-label="Altura">
  
        <div class="input-group-prepend">
          <span class="input-group-text">M's</span>
        </div>
      </div>

    <div class="input-group mb-3">
      <input type="number" (input)=" peso = $event.target.value" placeholder="Peso" class="form-control" aria-label="Peso">

      <div class="input-group-prepend">
        <span class="input-group-text">Kg</span>
      </div>
    </div>


    <div class="btn-group" role="group" aria-label="Exemplo básico">
      <button type="reset" class="btn btn-secondary">Limpar</button>
      <button type="button" class="btn btn-secondary" (click)="imc()">Calculo</button>
    </div>
  </form>
<!-- 
    <div class="container-itens">
      <button type="reset">Limpar</button>
      <button type="button" onclick="conta()">Calculo</button>
    </div> -->


      <div class="my-4">
        <span class="h5" id="result">Resultado: </span>
      </div>

      <table class="table table-striped table-dark">
          
          <tr>
              <th scope="col">IMC</th>
              <th scope="col">Classificação</th>
              <th scope="col">Obesidade</th>
          </tr>
          <tbody>
            <tr>
                <td>Menor que 18,5</td>
                <td>Magreza</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Entre 18,5 e 24,9</td>
                <td>Normal</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Entre 25,0 e 29,9</td>
                <td>Sobrepeso</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Entre 30,0 e 39,9</td>
                <td>Obesidade</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Maior que 40,0</td>
                <td>Obesidade Grave</td>
                <td>3</td>
            </tr>
          </tbody>
      </table>  
  </div>

</div>