
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a>
                   Players
                </a>
            </li>
            <li *ngFor="let player of players | async">
                <a>{{player.nome}}</a>
            </li>
        </ul>
    </div>
    <img src="https://cdn.minhaconexao.com.br/alternative/internet_lenta_retangulo.gif" class="rounded mx-auto d-block" alt="...">

    <!-- /#sidebar-wrapper -->
    <app-dado></app-dado>

    <a href="sala/{{sala.id}}/config" class="float">
        <i class="fa fa-plus my-float"></i>
    </a>

</div>

