


<div class="row ml-auto mt-3">
    <div  *ngFor="let ze of fichas | async" class="col-xs-12 col-sm-12 col-md-4">
        <a href="" (click)="change(ze.val,ze.key)" routerLink="player" routerLinkActive="active">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" (click)="log()" src="https://i.pinimg.com/originals/00/c2/86/00c286d9ae226814bc246b75fcde2153.png" alt="Card image cap">
                <div class="card-body">
                  <h3  class="card-title">Ficha De Jogador</h3> 
                  <h5 >{{ze.key}}</h5>
                </div>
            </div>
        </a>
    </div>
</div>



